    
    <div class="problem-container">
        <div id="problem-statement">
            <div class="column-toolbar">
                <button id="description-button">Description</button>
                <button id="solution-button">Solution</button>
            </div>
            <div class="column-content">
                <!-- Problem description content will be inserted here by JavaScript -->
            </div>
        </div>
        <div class="right-pane">
            <div class="column-toolbar">
                <div>
                    <div class="dropdown">
                            <button class="dropbtn">Math</button>
                            <div class="dropdown-content">
                                <button class="toolbar-button" data-latex="\frac">frac</button>
                                <button class="toolbar-button" data-latex="\sqrt">sqrt</button>
                                <button class="toolbar-button" data-latex="\sum">sum</button>
                                <button class="toolbar-button" data-latex="\int">int</button>
                                <button class="toolbar-button" data-latex="^">^</button>
                                <button class="toolbar-button" data-latex="_">_</button>
                                <button class="toolbar-button" data-latex="\alpha">alpha</button>
                                <button class="toolbar-button" data-latex="\beta">beta</button>
                                <button class="toolbar-button" data-latex="\gamma">gamma</button>
                            </div>
                        </div>
                        <button id="add-equation">Add Equation</button>
                </div>
                <button id="submit-solution" style="margin-left: auto;">Submit</button>
            </div>
            <div id="equations-container">
        </div>
    </div>